












@keyframes fadeDown {
    from {margin-top: -10px}
    to {}
}
.c-dropdown-menu {
    display: none;
    box-shadow: 2px 2px 4px lightgrey;
    position: absolute;
    background-color: white;
    animation-name: fadeDown;
    animation-duration: .31s;
}



/*.c-parent-dropdown:hover .c-dropdown-menu {*/
/*     position:absolute;*/
/*     display: block;*/
/*     background-color: white;*/
/* }*/

.c-parent-dropdown:hover .c-dropdown-menu {
    display: block;
}

.c-dropdown-item {
    transition: all .3s ease-in;
}

.c-dropdown-item:hover {
    background-color: #657778;
    color:white !important;
}

.c-top-radius {
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
}

.c-bottom-radius {
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
}

.pointer{
    cursor:pointer !important;
}

.ns-border-bottom {
    border-bottom: 2px inset rgb(163, 164, 223);
}

.top-left-radius-0 {
    border-top-left-radius: 0;
}

.bottom-left-radius-0 {
    border-bottom-left-radius: 0;
}

.top-right-radius-0 {
    border-top-right-radius: 0;
}

.bottom-right-radius-0 {
    border-bottom-right-radius: 0;
}


.this-button {
    transition: all .3s ease-in;
}

.this-div {
    cursor:pointer;
}

.this-div:hover .this-button {
    width:.5rem !important;
}

.this-div:hover .this-color {
    font-weight:bolder;
    color: #003366 !important;
}

.this-color {
    font-size: .8rem;
}

.capitalize {
    text-transform: capitalize;
}

.ns-border-left {
    border-left: 5px solid orange;
}

@keyframes _borderLeft{
    from {border-color:transparent;}
    to {}
}
.animated-border-left {
    border-left: 5px solid orange;
    animation: _borderLeft 1s ease-out;
}

@keyframes _w {
    0% {width:0%}
    10% {width:10%}
    20% {width:20%}
    30% {width:30%}
    40% {width:40%}
    50% {width:50%}
    60% {width:60%}
    70% {width:70%}
    80% {width:80%}
    90% {width:90%}
    100% {width:100%}

}

.anim-width {
    animation: _w .8s ease-out
}


@keyframes _hw {
    50% {width:50%}
    60% {width:60%}
    70% {width:70%}
    80% {width:80%}
    90% {width:90%}
    100% {width:100%}
}

.anim-half-width {
    animation: _hw .3s ease-out
}


@keyframes _h {
    0%  {height:0%}
    10% {height:10%}
    20% {height:20%}
    30% {height:30%}
    40% {height:40%}
    50% {height:50%}
    60% {height:60%}
    70% {height:70%}
    80% {height:80%}
    90% {height:90%}
    100%{height:100%}
}

.anim-height {
    animation: _h .8s ease-out
}


@keyframes _wh{
    from {height:0; width:0}
}

.anim-width-height {
    animation: _wh .8s ease-out;
}



@keyframes _ml {
    from {margin-left:30%;}
}

.anim-margin {
    animation: _ml .4s ease-out;
}

.text-lg {
    font-size: 1.3rem;
}

.partial-shadow {
    box-shadow: 2px 2px 4px lightgrey !important;
}

.modified-shadow {
    box-shadow: 2px 2px 4px lightgrey, 0 0 4px lightgrey !important;
}

.full-shadow {
    box-shadow: 2px 2px 4px lightgrey, -2px -2px 4px lightgrey !important;
}

.text-purple {
    color: rgb(85, 8, 85);
}

.text-lightblack {
    color: rgb(83, 73, 73);
}

.zim-container {
    width: 96%;
    text-align: center;
    margin: 7px;
}

.text-orange {
    color: orange;
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-5 {
    border-radius: 5px !important;
}

@keyframes  _modifiedAnimation {
    0% {
        margin-top: -3rem;
        opacity: .3
    }
    60% {
        opacity: .5;
    }
    100% {
        margin-top: 0rem;
    }
}

.modified-animation {
    animation: _modifiedAnimation .5s ease-out;
}
