/*
Animated skeleton screen using CSS.

Create shapes using gradients that simulate solids.

Use `:empty` pseduo-class to show skeleton screen background only while container has no content (ex: for the "loading" state). When content is added to the container element, the pseudo-class selector won't match anymore and the skeleton screen will be removed automatically; no need to toggle a separate class on the container.

See: https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

Animating one layer of the background which is a tilted linear gradient with white in the middle to achieve shine effect.
*/

.controls-skeleton:empty {
    margin: auto;
    width: 100%;
    height: 180px; /* change height to see repeat-y behavior */
    background: white;
    border: 1px solid lightgrey;
    border-radius: 10px;

    background-image:
        /*radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),*/
        linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
        linear-gradient( lightgray 20px, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 );


    background-repeat: no-repeat;

    background-size:
        /*100px 200px, !* circle *!*/
        50px 200px, /* highlight */
        calc(100% - 100px) 200px,
        150px 200px,
        180px 400px;

    background-position:
        /*0 0, !* circle *!*/
        0 0, /* highlight */
        40px 30px,
        60px 60px,
        40px 120px;

    animation: forShine 1s infinite;
}

@keyframes forShine {
    to {
        background-position:
            /*0 0,*/
            100% 0, /* move highlight to right */
            40px 30px,
            60px 60px,
            40px 120px;
    }

}

.danger-skeleton:empty {
    margin: auto;
    width: 100%;
    height: 250px; /* change height to see repeat-y behavior */
    background: white;
    border: 1px solid lightgrey;
    border-radius: 10px;

    background-image:
        /*radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),*/
        linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
        linear-gradient( lightgray 20px, transparent 0 ),
        radial-gradient( circle 10px at 10px 10px, lightgray 99%, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 ),
        radial-gradient( circle 10px at 10px 10px, lightgray 99%, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 ),
        radial-gradient( circle 10px at 10px 10px, lightgray 99%, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 ),
        radial-gradient( circle 10px at 10px 10px, lightgray 99%, transparent 0 ),
        linear-gradient( lightgray 20px, transparent 0 );

    /*linear-gradient( lightgray 20px, transparent 0 ),*/
        /*linear-gradient( lightgray 20px, transparent 0 ),*/
        /*linear-gradient( lightgray 20px, transparent 0 );*/

    background-repeat: no-repeat;

    background-size:
        /*100px 200px, !* circle *!*/
        50px 200px, /* highlight */
        150px 200px,
        30px 30px,
        150px 200px,
        30px 30px,
        200px 200px,
        30px 30px,
        75px 75px,
        30px 30px,
        140px 75px;
        /*350px 200px,*/
        /*300px 200px,*/
        /*250px 200px;*/

    background-position:
        /*0 0, !* circle *!*/
        0 0, /* highlight */
        40px 30px,
        40px 90px,
        80px 90px,
        40px 120px,
        80px 120px,
        40px 150px,
        80px 150px,
        40px 180px,
        80px 180px;
        /*120px 40px,*/
        /*120px 80px,*/
        /*120px 120px;*/

    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position:
            /*0 0,*/
            100% 0, /* move highlight to right */
            40px 30px,
            40px 90px,
            80px 90px,
            40px 120px,
            80px 120px,
            40px 150px,
            80px 150px,
            40px 180px,
            80px 180px;

        /*120px 40px,*/
            /*120px 80px,*/
            /*120px 120px;*/
    }
}
